:root {
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}


.card {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: grid;
    align-content: center;
}


.card-content {
    background-color: white;
    width: 20em;
    padding: 1em;
    border-radius: 1.1em;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0;
    font-weight: 1000;
}

h2 {
    font-weight: 100;
    color: #969ca8;
    font-size: 1em;
    padding: 1em;
    margin: .3em;
}

.card-content img {
    height: 20em;
    border-radius: 10px 10px 10px 10px;
}



.attribution { 
    font-size: 11px; text-align: center;
    margin-bottom: 5px;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}